* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #0c202d;
  --white-color: #fff;
  --black-color: #000;
  --hover-color: #0091ff;
  --text-color: #9fa6bc;
  --dark-color: #141824;
  --icons-color: #525b75;
  --main-transition: 0.3s;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* header */
header {
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 60%);
}

header .logo .bar svg {
  font-size: 20px;
  color: var(--white-color);
  cursor: pointer;
}

header .logo img {
  width: 60px;
  border-radius: 50%;
  border: 1px solid var(--hover-color);
}

header .search input {
  width: 100%;
  border: none;
  padding: 4px 35px;
  border-radius: 5px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

header .search i {
  position: absolute;
  left: 10px;
  color: var(--text-color);
  top: 50%;
  transform: translateY(-50%);
}

header .user .user-icon li a {
  font-size: 20px;
  color: var(--white-color);
  transition: var(--main-transition);
}

header .user .user-icon li a:hover {
  color: var(--hover-color);
}

header .user-img img {
  width: 45px;
  border-radius: 50%;
}

/* dashboard content */
.dashboard-content {
  /* display: grid; */
  grid-template-columns: 15% 85%;
  display: flex;
  background-color: var(--black-color);
}

/* sidebar */
.sidebar {
  background-color: var(--main-color);
  /* position: fixed; */
  left: 0;
  top: 0;
  padding: 150px 0;
  min-height: 100vh;
  z-index: 998;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .sidebar .menus {
    text-align: center;
  }
}
.sidebar.active {
  display: none;
}
.sidebar .menus .submenu,
.body .products-table .submenu {
  margin-top: 15px;
  display: none;
  padding-left: 50px;
}

.sidebar .menus .submenu.show,
.body .products-table .submenu.show {
  display: block;
}

.sidebar .menus ul li:not(:last-child),
.body .products-table ul li:not(:last-child) {
  margin-bottom: 15px;
}

.sidebar .menus ul li a {
  color: var(--text-color);
}

.sidebar .menus ul li a i {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .sidebar .menus ul li a span {
    display: none;
  }
}

/* body-content */
.body-content {
  min-height: 100vh;
  margin: 150px 40px 0;
  background-color: var(--black-color);
  box-shadow: 1px 1px 30px #2f688d;
  padding-bottom: 40px;
  flex: 1;
  overflow: hidden;
}

/* start general tab */
.body-content .tab .head {
  padding: 20px;
}
.body-content .tab .head .title {
  color: var(--white-color);
}
.body-content .tab .head .description {
  color: var(--text-color);
}
.body-content .tab .body {
  margin-top: 50px;
}
/* end general tab */

.body-content .tab .body input,
.body-content .tab .body textarea {
  background-color: var(--dark-color);
  color: var(--white-color);
  border: 1px solid var(--icons-color);
}

.body-content .tab .body input::placeholder,
.body-content .tab .body textarea::placeholder {
  color: var(--text-color);
}

.body-content .tab .body .btn {
  background-color: var(--dark-color);
  color: var(--text-color);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.body-content .tab .body .btn:hover {
  outline: none;
  box-shadow: none;
  background-color: #222834;
}

/* tab-3 */
